main > section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#featured {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
  color: white;
  align-items: center;
  text-align: center;
  height: 450px;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
  padding: 10px;
}

.featured-story {
  display: grid;
  grid-area: "content";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  height: 100%;
  background-size: cover;
  color: white;

  * {
    grid-area: content;
    position: relative;
  }
}

.story-title {
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fade {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(36, 36, 36), rgba(0, 0, 0, 0.0) 50%);
}

#news {
  display: grid;
  grid-template-areas:
    "story1 story2"
    "story1 story3"
    "story1 story4";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 20px;
  height: 500px;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
  padding: 10px;

  .story:nth-child(1) {
    grid-area: story1;
    display: grid;
    grid-template-areas: "content";
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: end;
    color: white;
    background-size: cover;
    background-position: center;

    * {
      grid-area: content;
      position: relative;
    }
  }

  .story:nth-child(2) {
    grid-area: story2;
  }

  .story:nth-child(3) {
    grid-area: story3;
  }

  .story:nth-child(4) {
    grid-area: story4;
  }
}

#fixtures {
  display: flex;
  justify-content: space-around;
  
}

.fixture {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
  padding: 10px;
}

.club {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  p {
    text-align: center;
  }
}

#socials {
  display: grid;
  grid-template-areas:
    "youtube facebook instagram twitter tiktok";
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  height: 140px;
}

.social-link {
  color: white;
  display: grid;
  grid-template-areas: "content";
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background: linear-gradient(to top, rgba(18, 48, 184, 0.884), rgba(255, 255, 255, 0.0));

  * {
    grid-area: content;
    position: relative;
  }

  article {
    padding: 15px;
    align-self: flex-end;
  }
}

.social-link:hover {
  text-decoration: none;
  background: linear-gradient(to top, rgba(0, 0, 255, 0.799), rgba(255, 255, 255, 0.0));
}

#sponsors {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
  padding: 10px;

  a:hover {
    text-decoration: none;
  }

  img {
    max-width: 120px;
  }
}