main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#privacy-policy {
  grid-column: 1;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 20%);
  padding: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      text-align: justify;
    }
  }
}

h2 {
  font-size: 20px;
}