* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto auto auto;
  background-color: whitesmoke;
  gap: 30px;
}

@media only screen and (max-width: 1000px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

header {
  grid-area: header;
  background-image: url("../images/header_bg.webp");
  display: grid;
  grid-template-areas: "left main right";
  grid-template-columns: 10% 80% 10%;
  text-align: center;

  * {
    grid-area: main;
  }
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

#crest {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 800px) {
  #splash {
    display: none;
  }

  #crest > h1 {
    display: none;
  }
}

#crest:hover {
  text-decoration: none;
}

#nav-desktop {
  display: flex;
  gap: 20px;
  font-weight: bold;

  a:hover {
    text-decoration: underline;
  }
}

#nav-mob {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #nav-desktop {
    display: none;
  }

  #nav-mob {
    display: block;
  }
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer {
  margin: 50px 0 30px 0;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: rgb(135, 135, 135);
  text-align: center;

  div {
    display: flex;
    gap: 15px;
  }

  a {
    font-weight: bold;
    color: rgb(135, 135, 135);
  }

  a:hover {
    text-decoration: none;
  }

  i {
    user-select: none;
    color: black;
  }
}

.section-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(205, 205, 205);
}